<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <!-- Actions -->
  <record id="action_student" model="ir.actions.act_window">
    <field name="name">Students</field>
    <field name="res_model">school.student</field>
    <field name="view_mode">list,form</field>
  </record>

  <record id="action_guardians" model="ir.actions.act_window">
    <field name="name">Guardians</field>
    <field name="res_model">school.guardian</field>
    <field name="view_mode">list,form</field>
  </record>

  <record id="action_teachers" model="ir.actions.act_window">
    <field name="name">Teachers</field>
    <field name="res_model">school.teacher</field>
    <field name="view_mode">list,form</field>
  </record>

  <record id="action_academic_years" model="ir.actions.act_window">
    <field name="name">Academic Years</field>
    <field name="res_model">school.academic.year</field>
    <field name="view_mode">list,form</field>
  </record>

  <!-- Root App Menu -->
  <menuitem id="menu_school_root"
            name="School"
            sequence="1"/>

  <!-- Submenus -->
  <menuitem id="menu_school_students"
            name="Students"
            parent="menu_school_root"
            sequence="10"/>

  <menuitem id="menu_school_people"
            name="People"
            parent="menu_school_root"
            sequence="20"/>

  <menuitem id="menu_school_config"
            name="Configuration"
            parent="menu_school_root"
            sequence="90"/>

  <!-- Students -->
  <menuitem id="menu_student"
            name="Students"
            parent="menu_school_students"
            action="action_student"
            sequence="10"/>

  <!-- Guardians -->
  <menuitem id="menu_guardians"
            name="Guardians"
            parent="menu_school_people"
            action="action_guardians"
            sequence="10"/>

  <!-- Teachers -->
  <menuitem id="menu_teachers"
            name="Teachers"
            parent="menu_school_people"
            action="action_teachers"
            sequence="20"/>

  <!-- Academic Years -->
  <menuitem id="menu_academic_years"
            name="Academic Years"
            parent="menu_school_config"
            action="action_academic_years"
            sequence="10"/>

</odoo>
