<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Staff (Employees) Menu -->
    <record id="action_school_hr_employees" model="ir.actions.act_window">
        <field name="name">Staff</field>
        <field name="res_model">hr.employee</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Teacher Assignment Menu -->
    <record id="action_school_teacher_assignment" model="ir.actions.act_window">
        <field name="name">Teacher Assignments</field>
        <field name="res_model">school.teacher.assignment</field>
        <field name="view_mode">list,form</field>
    </record>


    <!-- HR Root Menu under School -->
    <menuitem id="menu_school_hr_root" name="HR"
              parent="school_management.menu_school_root" />


    <menuitem id="menu_school_hr_employees" name="Staff"
              parent="menu_school_hr_root"
              action="action_school_hr_employees" />

    <menuitem id="menu_school_hr_assignments" name="Assignments"
              parent="menu_school_hr_root"
              action="action_school_teacher_assignment" />
</odoo>
